:root{
    --BackgroundBody: rgb(250, 250, 250);
    --BackgroundElem: rgb(255, 255, 255);
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}
/* header area --------------------------------------- */

body{
    background-color: var(--BackgroundBody);
    color: hsl(200, 15%, 8%);
    transition: all ease-in-out 0.2s;
}

body.dark{
    --BackgroundBody: hsl(207, 26%, 17%);
    --BackgroundElem: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    transition: all ease-in-out 0.2s;
}
header{
    background-color: var(--BackgroundElem);
    color: inherit;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
 
}
.container--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    height: 80px;
}
.container--header h1{
    font-weight: 800;
    font-size: 22px;
}

.container--header .theme{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container--header .theme .theme--mode{
    margin-left: 8px;
}
.container--header .theme .theme--mode:hover{
    opacity: 0.7;
}

/* main - input area --------------------------------------- */

main{
    min-height: calc(100vh - 80px);
    

}
.container--input{
    position: relative;
}
.container--input .fa-solid{
    position: absolute;
    left: 30px;
    top: 20px;
}

.container--main .container--homepage--itens{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1280px;
    height: 100px;
    margin: auto;
}

.container--main .container--homepage--itens .container--input #input{
    
    width: 480px;
    height: 55px;
    border-radius: 5px;
    padding: 25px;
    padding-left: 70px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);    
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--BackgroundElem);
    color: inherit;
}

.container--main .container--homepage--itens #input:focus{
    outline: 0;
}
.container--main .container--homepage--itens #input::placeholder{
    color: rgb(128, 125, 125);
    font-size: 17px;
    font-weight: 300;
}

/* main filter area --------------------------------------- */

#filterByRegion{
    width: 200px;
    height: 55px;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--BackgroundElem);
    color: inherit;
}
#filterByRegion span:hover{
    opacity: 0.7;
    color: rgb(176, 45, 45);
}
#filterByRegion #region span:hover{
    opacity: 0.7;
    background-color: rgb(240, 240, 240);
    color: rgb(176, 45, 45);
    font-size: 18px;
}
#filterByRegion #arrowIcon{
    rotate: -90deg;
}

#filterByRegion .area--region--list{
    position: relative;
}
#region{
    background-color: var(--BackgroundElem);    
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    border-radius: 5px;
    position: absolute;
    right: -26px;
    top: 35px;    
    padding: 10px;
    padding-left: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);     
}

#filterByRegion #region span{
    padding-top: 7px;
} 

/* main area country --------------------------------------- */
.container--main .areaCountry{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modelCountryBox{
    border-radius: 5px;
    width: 265px;
    height: 335px;
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
    margin-top: 38px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);    
    cursor: pointer;
    background-color: var(--BackgroundElem);
    color: inherit;
    
}

.modelCountryBox:hover{
    box-shadow: 0.5em 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
}
.modelCountryBox .flag{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.modelCountryBox .info{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 30px;
    font-weight: 300;
}

/* country details --------------------------------------- */

.countryDetails{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;    
}
.countryDetails .back{
    width: 135px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);    
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    background-color: var(--BackgroundElem);
    color: inherit;
}

.countryDetails .back:hover{
    opacity: 0.7;
}
.countryDetails .container--details{
    display: flex;
    width: 100%;   
    justify-content: space-between;
}
.container--details .general--details{
    width: 560px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container--details .general--details .name--larger{
    font-size: 40px;
}
.countryDetails .container--details .flag--larger{
    width: 560px;
    height: 400px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}
.countryDetails .container--details .details{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-height: 200px;
    flex-wrap: wrap; 

}
.countryDetails .container--details .details span{
    margin-top: 15px; 
}

.bordercoutries--larger {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    /* align-self: flex-start; */
}

.bordercoutries--larger .boxbc{
    border-radius: 3px;
    margin: 7px;
    padding: 10px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--BackgroundElem);
    color: inherit;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    
}


/* javascript --------------------------------------- */

#region{                             /* filter by region */
    display: none;
}

.container--main{                           /* display initial */
    /* display: none;         */
}

.countryDetails{                /* banner details country */
    display: none;
}

#sun{
    display: none;
}

.model{
    display: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}